<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <title>{% block title %}{{title}}{% endblock %}</title>
        {% block stylesheet %}
<!--         <link rel="stylesheet" type="text/css" href="/css/ionicons-2.0.1/css/ionicons.css">
<link rel="stylesheet" href="stylesheets/screen.css"> -->
<!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/css/animate.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- Leave those next 4 lines if you care about users using IE8 -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">< /script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">< /script>
        <![endif]-->
        {% endblock %}
    </head>
    <body id="body">
          <nav class="teal accent-4 rel z2">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo"><img src="/img/logo_w.png" width="44px" class="vertical-align pl-15" alt="Voxel"> <span class="fs20"> KubiK</span></a>
              <ul class="right hide-on-med-and-down">
                <li>
                    <a style="margin-top: 5px;" class="btn-floating btn-large waves-effect waves-light red right">
                        <i class="material-icons">settings_voice</i>
                    </a>
                </li>

                <li id="search" class="pointer">
                    <span class="span">
                        <i class="material-icons">search</i>
                    </span>
                </li>
                <li>
                    <span class="span">
                        <i class="material-icons">view_module</i>
                    </span>
                </li>
                <li>
                    <a href="/">
                        <i class="material-icons">refresh</i>
                    </a>
                </li>
                <li>
                    <span class="span">
                        <i class="material-icons">more_vert</i>
                    </span>
                </li>
              </ul>
            </div>
          </nav>

        <div id="search-bar-block" class="row hide abs z2">
            <div class="input-field col s12">
              <input id="search-bar" type="text" class="validate">
              <label for="search-bar">Query</label>
            </div>
        </div>
        <div id="wrapper" class="z1">
        {% block nav %}
        {% endblock %}
            <div class="container h100 rel">
                {% block leftbar %}
                {% endblock %}
                
                {% block body %}
                {% endblock %}
            </div>

            {% block footer %}
            {% endblock %}    
        </div>

        {% block script %}
        <!--<script src="http://localhost:3000/socket.io/socket.io.js"></script>-->
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io('http://localhost:3002');

            socket.on('message', function (message) {
                  console.log(message);
              }); 
            socket.on('data-ok', function(){
              console.log('data-ok');
              $('#button-stop-ws').click();
              transcription.textContent = '';
              log.textContent = '';
              setTimeout(function(){
                $('#clear-all').click();
                setTimeout(function(){
                  $('#button-play-ws').click();
                },100)
              }, 100);

            });


        </script>
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        {% endblock %}
    </body>
</html>