{% extends 'base.html.twig' %}

{% block body %}

<h3>Liste des catégories</h3>

<div class="progress">
      <div class="determinate" style="width: 25%"></div>
</div>

{{categorie}}

	<ul>
      {% for categorie in categories %}
		<li class="color-li-22 capitalise pointer">
			<a href="/categories/{{categorie.slug}}">
				<img src="svg/heart.svg" alt="Like it" class="pointer vertical-align">
				<span class="ml-5">{{categorie.name}}</span></li>
			</a>
      {% endfor %}
	</ul>

	<p class="capitalise">{{categories.message}}</p><hr/>
	<a href="/" class="capitalise underline">back</a>


<div id="results">
	
</div>

{% endblock %}

