body{
	height: 100%;
}

.h100{
	height: 100%;
}

.pointer{
	cursor: pointer;
}

.rel, .relative{
	position: relative;
}

.abs, .absolute{
	position: absolute;
}

.vertical-align{
	vertical-align: middle;
}

.text-center{
	text-align: center;
}

.bg-white-08{
	background-color: rgba(250,250,250,0.8);
}

.p15, .p-15 {
	padding: 15px;
}

.z1, .z-1{
	z-index: 1;
}

.z2, .z-2{
	z-index: 2;
}

.capitalise{
	text-transform: capitalize;
}

.underline{
	text-decoration: underline;
}

.ml-5{
	margin-left: 5px;
}

.pl-5{
	padding-left: 5px;
}

.pl-10{
	padding-left: 10px;
}

.pl-15{
	padding-left: 15px;
}


.mr-5{
	margin-right: 5px;
}

.color-li-22{
	color: #5B5959;
	font-size: 20px;
	text-decoration: none;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.color-li-22:hover{
	color: rgb(30,30,30);
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.fs-22,
.fs22{
	font-size: 22px;
}

.fs-20,
.fs20{
	font-size: 20px;
}

.span{
	transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.span:hover{
	background-color: rgba(0, 0, 0, 0.1);
}


#wrapper{
	position: absolute;	
	top:64px;
	bottom: 0;
	left: 0;
	right: 0;
/* 	background-image: url(../img/bg.png); */
}

#search-bar-block{
	background-color: rgba(255,255,255,0.5);
	margin-left: 25%;
	margin-right: 25%;
	padding-right: 0.75rem;
	width: 50%;
	top:0;
}

#search-bar-block .input-field{
 margin-top: 8px;
}

#search-bar{
	background-color: azure;
	padding-left: 6px;
	margin-bottom: 9px;
}

.input-field label{
	left: 1.1rem;
}

.input-field label.active{
	font-size: 0.4rem;
	transform: translateY(-100%);
}

.container{
	top : 0px;
}


#core{
	cursor: pointer;
}

/* Speech style */

	.bg-white{
		background-color: white;
	}

      #transcription,
      #log
      {
        display: block;
        width: 100%;
        height: 5em;
        overflow-y: scroll;
        border: 1px solid #333333;
        line-height: 1.3em;
      }

      .button-demo
      {
        padding: 0.5em;
        display: inline-block;
        margin: 1em auto;
      }