.hide{
  display: none;
}

.inline-block{
  display: inline-block;
}

.span-width{
  width: 10px;
  display: inline-block;
}


#logo{
  color: rgb(240,240,240);
  font-family: 'arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* classe pour mettre le texte en blanc */
.text-white{

  color: rgb(240,240,240);
}

/* classe pour mettre un élément en position absolute */
.absolute{
  position: absolute;
}

/* configuration de la top-bar */
#top-bar{
  height: 70px;
  background: rgb(51,51,51);
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}

.m15{
  margin: 15px;
}

.ml20{
  margin-left: 40px;
}

/* classe qui permet un padding de 15px */
.p15{
  padding: 15px;
}


#core{
  padding: 20px;
  height: 800px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.border{
  border: 1px solid black;
}


#menu-gauche{
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  width: 231px;
  height: 92.9%;
  top: 70px;
  background: silver;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#menu-gauche ul li{
  background: rgb(51,51,51);
}

#menu-gauche ul li a{
  color : rgb(240,240,240);
  font-family: 'arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#menu-gauche ul li a:hover{
  text-decoration: none;
}

