<!DOCTYPE html>
<html lang="en" ng-app="Api">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
        <div class="row" id="bar-nav">
            <div id="top-bar">
                <div class="col-sm-4 col-xs-0" id="part-left">
                    <div class="col-sm-12 p15 brand" id="brand">
                        <i class="ion-cube inline-block" id="logo"> Back-office</i>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 pull-right" id="part-right"></div>
            </div>
        </div>


	<div class="container" ng-controller="home">
			<h1>Gestion des catégories</h1>
<!-- 			<button class="btn btn-primary pull-right">ajouter categorie</button> -->
			<div class="">
			 <div class="form-group">
				<input class="form-control" type="text" placeholder="Categorie name" name="categorie-name" id="categorie-name" ng-model="categorie.name">
			 </div>
			 <div class="form-group">
				<input class="btn btn-default" type="button" value="add" ng-click="addCategorie()">
				<input class="btn btn-default" type="button" value="update" ng-click="updateCategorie(categorie._id)">
			</div>
			</div>
			<ul ng-repeat="categorie in categories" class="list-unstyled list-group">
				<li ng-show="categories.length" class="list-group-item">
					<div class="row">
  					<div class="col-xs-8 col-sm-8">
  						<div>
  							<span class="h4">{{categorie.name}} | {{categorie.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</span>
  						</div>
  					</div>
  					<div class="col-xs-4 col-sm-4 text-right">
	  					<div class="form-group">
							<button class="btn btn-default" ng-click="editCategorie(categorie._id)">Edit</button>
							<button class="btn btn-danger" ng-click="removeCategorie(categorie._id)">Delete</button>
						</div>
  					</div>
				</div>
				</li>
			</ul>

			<h1>Gestion des articles</h1>
			<div class="">
				<div class="form-group">
					<label for="select-categorie">Choisir une categorie : </label>
					<select id="select-categorie" class="form-control" ng-model="article.catId" ng-options="categorie._id as categorie.name for categorie in categories track by categorie._id"><option value=""/></select>
				 </div>

				 <div class="form-group">
				 	<label for="article-title">Id de la categorie choisie : </label>
					<input class="form-control" disabled type="text" placeholder="Categorie ID" name="article-catId" id="article-catId" value="{{article.catId}}">
				 </div>

				 <div class="form-group">
				 	<label for="article-title">Donnez un titre à votre article : </label>
					<input class="form-control" type="text" placeholder="Article title" name="article-title" id="article-title" ng-model="article.title">
				 </div>

				 <div class="form-group">
				 	<label for="article-content">Contenu de votre article : </label>
					<textarea class="form-control" name="article-content" id="article-content" ng-model="article.content"></textarea>
				 </div>

				 <div class="form-group">
					<input class="btn btn-default" type="button" value="add" ng-click="addArticle()">
					<input class="btn btn-default" type="button" value="update" ng-click="updateArticle(article._id)">
				</div>
			</div>
			<ul ng-repeat="article in articles" class="list-unstyled list-group">
				<li ng-show="articles.length" class="list-group-item">
				<div class="row">
  					<div class="col-xs-8 col-sm-8">
  						<div>
  							<span class="h4">{{article.title}} | {{article.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</span>
  						</div>
  						<div>
  							<p class="lead">{{article.content}}</p>
  						</div>
  					</div>
  					<div class="col-xs-4 col-sm-4 text-right">
	  					<div class="form-group">
							<button class="btn btn-default" ng-click="editArticle(article._id)">Edit</button>
							<button class="btn btn-danger" ng-click="removeArticle(article._id)">Delete</button>
						</div>
  					</div>
				</div>
				</li>
			</ul>
	</div>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript">
	var app = angular.module('Api', []);
</script>
<script type="text/javascript" src="controllers/home.js"></script>
</body>
</html>